{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My To-Do List{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'mytodo/css/pico.amber.min.css' %}">
        <style>
        {% block style %}
        {% endblock %}
        </style>
    </head>
    <body>
        <main class="container">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">My ToDo</a></li>
                </ul>
                <ul>
                    <li><a href="{% url 'mytodo:task_list' %}" class="contrast">📃Tasks</a></li>
                    <li><a href="{% url 'mytodo:task_create' %}" class="contrast"><button>✨Create Task</button></a></li>
                    {% if user.is_authenticated %}
                    <li>
                        <details class="dropdown">
                            <summary>👤{{ user.username }}</summary>
                            <ul>
                                <li><a href="{% url 'logout' %}"><button>Logout</button></a></li>
                            </ul>
                        </details>
                    </li>
                    {% else %}
                        <li><a href="{% url 'login' %}" class="contrast"><button class="secondary">Login</button></a></li>
                    {% endif %}
                </ul>
            </nav>
            <div>
                {% block content %}
                <h1>Welcome to My To Do app</h1>
                {% if user.is_authenticated %}
                    <p>Hello, {{ user.username }}! You are logged in.</p>
                {% else %}
                    <p>Please <a href="{% url 'login' %}">log in</a> to manage your tasks.</p>
                {% endif %}
                <p>This is a simple application to manage your tasks.</p>
                <p>Press <kbd>i</kbd> to create a <a href="{% url 'mytodo:task_create' %}">new task</a>.</p>
                {% endblock %}
            </div>
        </main>
        <script src="{% static 'mytodo/scripts/shortcuts.js' %}"></script>
    </body>
</html>