{% extends 'base.html' %}

{% block title %}Task Detail | {{task.title}} {% endblock %}

{% block style %}
a.delete {
    background-color: #e53935; /* red */
    text-decoration: none;
    border-color: #b71c1c; /* dark red */
}
{% endblock %}

{% block content %}
<h1>{{task}}</h1>
<article>
    <header><strong>Title:</strong> {{ task.title }}</header>
    <strong>Description:</strong> {{ task.description }}
    <hr />
    <small>Created at: {{ task.created_at }}</small>
    <br />
    <small>Updated at: {{ task.updated_at }}</small>
    <footer>
        {% if not task.completed %}
            <a href="{% url 'mytodo:task_complete' task.id %}" class="complete" role="button">Complete</a>
        {% else %}
            <a href="{% url 'mytodo:task_incomplete' task.id %}" class="incomplete" role="button">Not Completed</a>
        {% endif %}
            
        <a href="{% url 'mytodo:task_detail' task.id %}" class="primary contrast" role="button">View</a>
        <a href="{% url 'mytodo:task_edit' task.id %}" class="secondary" role="button">Edit</a>
        <a href="{% url 'mytodo:task_delete' task.id %}" class="delete" role="button">Trash</a>
    </footer>
</article>

{% endblock %}